---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contáctanos">
  <div class="info bg-[#003566]">

    <main class="max-w-screen-xl mx-auto px-5 pt-16 pb-24">

      <div class="mb-12">
        <h3 class="text-white sm:text-7xl text-4xl font-bold lg:tracking-tight xl:tracking-tighter">
          Contáctanos
        </h3>
      </div>

      <div class="w-full mx-auto grid md:grid-cols-2 gap-6">

        <div>
          <Contactform />
        </div>

        <div>
          <p class="text-lg font-light leading-relaxed text-white">
            Nos encantaría escuchar de ti y responder a cualquier pregunta o inquietud que puedas tener. En AG Grupo Constructor e Inmobiliario, estamos comprometidos a proporcionar soluciones personalizadas y de alta calidad para cumplir con tus objetivos. ¡Esperamos tener noticias tuyas pronto y poder brindarte nuestro mejor servicio!
          </p>

          <div class="mt-5">
            
            <div class="flex items-center mt-2 space-x-2 text-white">
              <Icon class="text-white w-4 h-4" name="uil:envelope" />
              <a href="mailto:gerencia@agcisa.com.com">gerencia@agcisa.com</a>
            </div>
            
            <div class="flex items-center mt-2 space-x-2 text-white">
              <Icon class="text-white w-4 h-4" name="uil:phone" /><a
                href="tel:+1 (+505) 8806-59419">(+505) 8806-5941</a>
            </div>

          </div>
        </div>
      </div>
    </main>

  </div>
</Layout>

<style>
  .info {
  background-image: url(src/assets/contactanos-bg.webp);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center center;
}
</style>


<!-- <Layout title="Contáctanos">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">We are a here to help.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Astroship</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>1734 Sanfransico, CA 93063</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@astroshipstarter.com"
              >hello@astroshipstarter.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout> -->
