---
import Layout from "@layouts/Layout.astro";
---

<Layout title="AG | Quienes Somos">
  <div class="info bg-white">

    <main class="max-w-screen-xl mx-auto md:pb-44 px-5 pt-16 pb-52">

      <div class="md:w-1/2 flex flex-col gap-6 text-left">
        <h3
          class="text-[#003566] sm:text-7xl text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
          <p class="font-light text-5xl text-[#003566]">Conoce</p> Quienes Somos
        </h3>

        <p class="text-lg font-light text-[#003566]">
          AG Grupo Constructor e Inmobiliario, somos una empresa con personal altamente calificado, quince años de experiencia y enfoque al cliente. Nos dedicamos a brindar servicios de gerencia, diseño y construcción en proyectos de desarrollo nacional e internacional.
        </p>

        <p class="text-lg font-light text-[#003566]">
          Ofrecemos soluciones personalizadas para cumplir con las necesidades y objetivos de nuestros clientes. Nos enorgullece nuestra capacidad para entregar proyectos de alta calidad, dentro del presupuesto y en el plazo acordado. Si está buscando una empresa de confianza para su proyecto de construcción, contáctenos y estaremos encantados de ayudarlo.
        </p>

      </div>

    </main>

  </div>
</Layout>


<style>
    .info {
    background-image: url(src/assets/Quienes-somos-bg.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
  }

  @media (max-width: 768px) {

  .info {
    background-size: contain;
    background-position: right bottom;
  }
}
</style>
