---
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Logoag from "@components/logoag.astro";
import Containernew from "@components/containernew.astro";

const menuitems = [
    
  {
    title: "Inicio",
    path: "/",
  },
  {
    title: "Quienes Somos",
    path: "/quienes-somos",
  },
  {
    title: "Galeria",
    path: "/galeria",
  },
  {
    title: "Contáctanos",
    path: "/contactanos",
  },
];
---

<Containernew bgcolor="bg-white">
  <header class="max-w-screen-xl mx-auto px-5 flex flex-col md:flex-row justify-between items-center py-3">
    <Astronav>
      <div class="flex w-full md:w-auto items-center justify-between">
        <a href="/">
          <Logoag/></a>
        <div class="block md:hidden">
          <MenuIcon class="w-4 h-4 text-[#E78919]"/>
        </div>
      </div>
      <MenuItems class="hidden w-full md:w-auto mt-2 md:flex md:mt-0">
        <ul class="flex flex-col md:flex-row md:gap-3 place-items-center">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li class="group/item">
                    <a
                      href={item.path}
                      class="flex md:px-3 py-2 text-black hover:text-[#E78919]">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Containernew>
