---
import Logoag from "./logoag.astro";
---

<footer class="bg-white py-14 px-6">
  <a class="flex justify-center mb-5" href=""><Logoag/></a>
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} AG Grupo Constructor e Inmobiliario. Todos los derechos reservados.
  </p>
  
  <p class="text-center text-xs text-slate-500 mt-1">
    Creado por <a
      href="#"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Publitec
    </a>
  </p>
</footer>
