---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import bgHome from "assets/bg-home.webp";
import Link from "@components/ui/link.astro";
---

<main class="max-w-screen-xl mx-auto px-5 grid md:grid-cols-2 pt-16 pb-5 md:pt-12 md:pb-24">

  <div class="flex flex-col">
    <h1
      class="text-7xl lg:text-8xl xl:text-8xl font-bold lg:tracking-tight xl:tracking-tighter">
      Hacemos <br> Realidad
    </h1>
    <p class="text-3xl font-medium mt-3 text-black max-w-xl">
      Lo Imaginado
    </p>
    <div class="mt-6">
      <Link
        style="outline"
        size="md">
        Mayor Información
      </Link>
    </div>
  </div>

  <div class="py-6 md:block">    
    <Picture 
    src={bgHome}
    alt="bg-home-arquitectura"
    widths={[200, 400, 600]}
    sizes="(max-width: 800px) 100vw, 620px"
    loading="eager"
    format="avif"
    />
  </div>
</main>
