---
import { Picture } from "@astrojs/image/components";
import bgHome from "assets/bg-home.webp";
import Containernew from "@components/containernew.astro";
---

<Containernew bgcolor="home bg-[#E78919]">
<main class="max-w-screen-xl mx-auto px-5 grid md:grid-cols-3 md:pt-24 md:h-[650px] pt-12 md:gap-6 gap-24">

  <div class="flex flex-col gap-4 md:text-left text-center">
    <h1
      class="text-white text-7xl font-bold tracking-tighter animate__animated animate__fadeInLeft">
      Hacemos <br> Realidad
    </h1>
    <p class="text-3xl font-medium text-white animate__animated animate__fadeInLeft">
      Lo Imaginado
    </p>
    <div>
      <a class="bg-transparent hover:bg-sky-500 hover:scale-105 text-white font-base hover:text-white py-1 px-6 border border-white hover:border-transparent rounded-full w-3/4 sm:w-auto transition duration-200 ease-in-out animate__animated animate__fadeIn animate__delay-1s" href="/quienes-somos">Mayor Información</a>
    </div>
  </div>

  <div class="md:grid md:content-end md:justify-items-end md:col-span-2">
    <Picture 
    src={bgHome}
    alt="bg-home-arquitectura"
    widths={[300, 600, 700]}
    aspectRatio="400:287"
    sizes="(max-width: 800px) 100vw, 760px"
    loading="eager"
    format="avif"
    class=""
    />
  </div>
</main>
</Containernew>
