---
import { Picture } from "@astrojs/image/components";
import bgHome from "assets/bg-home.webp";
---

<main class="max-w-screen-xl mx-auto px-5 grid md:grid-cols-3 md:pt-24 lg:h-[70vh]
md:h-[60vh] pt-12 md:gap-6 gap-24">

  <div class="flex flex-col gap-4 md:text-left text-center">
    <h1
      class="text-white text-7xl font-bold tracking-tighter">
      Hacemos <br> Realidad
    </h1>
    <p class="text-3xl font-medium text-white">
      Lo Imaginado
    </p>
    <div class="">
      <button class="bg-transparent hover:bg-sky-500 text-white font-base hover:text-white py-1 px-6 border border-white hover:border-transparent rounded-full w-3/4 sm:w-auto">
        Mayor Información
      </button>
    </div>
  </div>

  <div class="md:grid md:content-end md:justify-items-end md:col-span-2">
    <Picture 
    src={bgHome}
    alt="bg-home-arquitectura"
    widths={[300, 600, 700]}
    aspectRatio="400:287"
    sizes="(max-width: 800px) 100vw, 760px"
    loading="eager"
    format="avif"
    class=""
    />
  </div>
</main>
